@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif !important;
}

:root {
    --color-primary : #ff8c19;
    --color-secondary : #01cdfe;
    --color-tersier : #ff71ce;
    --color-sub : #05ffa1;
}

.toast-color {
    background: var(--color-sub);
}

.logo-color {
    background: var(--color-primary);
}
.logo-border {
    border: 1px solid var(--color-primary);
}
button.logo-color:hover, button.icon-color:hover, button.ui-color:hover {
    background: rgba(0, 0, 0, 0.5);
}

.icon-color {
    background: var(--color-secondary);
}
.icon-border {
    border: 1px solid var(--color-secondary);
}
.ui-color {
    background: var(--color-tersier);
}
.ui-border {
    border: 1px solid var(--color-tersier);
}

.tz-gallery {
    padding: 10px;
}
.tz-gallery .row > div {
    padding: 2px;
}
.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.watermark-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 0px;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
}
.watermark-container {
    color: rgba(0, 0, 0, 0.2);
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    transform: rotate(-30deg);
    user-select: none;
}

.pricing-header {
    max-width: 700px;
}


.list-space-footer-2-2 {
    margin-bottom: 1.25rem;
}
.list-space-footer-2-2-title {
    margin-bottom: 1.5rem;
}
.footer-text-title-footer-2-2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000;
}
.list-menu-footer-2-2 {
    color: #c7c7c7;
    text-decoration: none !important;
    cursor: pointer;
}
.list-menu-footer-2-2:hover {
    color: #555252;
}
hr.hr-footer-2-2 {
    margin: 0;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.border-color-footer-2-2 {
    color: #c7c7c7;
}
.footer-link-footer-2-2 {
    margin-right: 1.25rem;
    color: #c7c7c7;
}
.footer-link-footer-2-2:hover {
    color: #555252;
    cursor: pointer;
}
.social-media-c-footer-2-2:hover circle,
.social-media-p-footer-2-2:hover path {
    fill: #555252;
    cursor: pointer;
}
.footer-info-space-footer-2-2 {
    padding-top: 3rem;
}
.social-media-left-footer-2-2 {
    margin-right: 1.25rem;
}
.social-media-center-1-footer-2-2 {
    margin-right: 1.25rem;
}
.social-media-center-2-footer-2-2 {
    margin-right: 1.25rem;
}
.list-footer-footer-2-2 {
    padding: 5rem 1rem 6rem 1rem;
}
.info-footer-footer-2-2 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
}
@media (max-width: 980px) {
    .footer-responsive-space-footer-2-2 {
        margin-bottom: 1.25rem;
        margin-top: 1.25rem;
    }
}
@media (min-width: 576px) {
    .list-footer-footer-2-2 {
        padding: 5rem 2rem 6rem 2rem;
    }
    .info-footer-footer-2-2 {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 3rem;
    }
}
@media (min-width: 768px) {
    .list-footer-footer-2-2 {
        padding: 5rem 4rem 6rem 4rem;
    }
    .info-footer-footer-2-2 {
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 3rem;
    }
}
@media (min-width: 992px) {
    .list-footer-footer-2-2 {
        padding: 5rem 6rem 6rem 6rem;
    }
    .info-footer-footer-2-2 {
        padding-left: 6rem;
        padding-right: 6rem;
        padding-bottom: 3rem;
    }
}

.loader-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1;
    -webkit-animation: pulseOut 2s infinite;
            animation: pulseOut 2s infinite;
}
@-webkit-keyframes pulseOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes pulseOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.show-page {
    -webkit-animation-name: animatebottom;
            animation-name: animatebottom;
    -webkit-animation-duration: 1s;
            animation-duration: 1s
}
@-webkit-keyframes animatebottom {
    from { 
        bottom:-100px; 
        opacity:0 
    } 
    to { 
        bottom:0px; 
        opacity:1 
    }
}
@keyframes animatebottom { 
    from { 
        bottom: -100px; 
        opacity:0 
    }
    to { 
        bottom: 0; 
        opacity: 1 
    }
}

#full-page {
    display: none;
}
